* {
  box-sizing: border-box;
}

button {
  font-family: inherit;
  font-size: inherit;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

body {
  margin: 0;
  font-family: 'Open Sans', 'Almarai', sans-serif;
}